<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zly.mapper.UserMapper">

    <insert id="saveUser" >
        INSERT INTO `orm_user` (`name`,
                                `password`,
                                `salt`,
                                `email`,
                                `phone_number`,
                                `status`,
                                `create_time`,
                                `last_login_time`,
                                `last_update_time`)
        VALUES ( #{user.name},
                 #{user.password},
                 #{user.salt},
                 #{user.email},
                 #{user.phoneNumber},
                 #{user.status},
                 #{user.createTime},
                 #{user.lastLoginTime},
                 #{user.lastUpdateTime}
               )
    </insert>

    <insert id="batchSaveUser">
            INSERT INTO `orm_user` (`name`,
                                    `password`,
                                    `salt`,
                                    `email`,
                                    `phone_number`,
                                    `status`,
                                    `create_time`,
                                    `last_login_time`,
                                    `last_update_time`)
            VALUES
            <foreach collection="list" item="item" separator=",">
                (#{item.name},
                #{item.password},
                #{item.salt},
                #{item.email},
                #{item.phoneNumber},
                #{item.status},
                #{item.createTime},
                #{item.lastLoginTime},
                #{item.lastUpdateTime})
            </foreach>
    </insert>

    <delete id="deleteById">
        DELETE
        FROM `orm_user`
        WHERE `id` = #{id}
    </delete>

</mapper>